.container{
    text-align: center;
}

.column{
    width: 30%;
    display: block;
    float: left;
    background-color: #cccccc;
    margin: 0 5px;
}

@media only screen and (max-width: 499px) {
    .column{
        width: 100%;
        margin-bottom: 10px;
    }
}